APPLICATION=./project

# mysql env
MYSQL_VERSION=latest
MYSQL_ROOT_PWD=root
MYSQL_DATA_PATH=./mysql/data
MYSQL_LOGS_PATH=./mysql/logs
MYSQL_CNF_PATH=./mysql/my.cnf
MYSQL_PORT=3306

# redis env
REDIS_VERSION=latest
REDIS_DATA=./redis/data
REDIS_PORT=6379

# php-fpm 7.2 
PHP72_INI_PATH=./php72/php.ini
PHP72_LOGS_PATH=./php72/logs
PHP72_FPM_PORT=9000
# php-fpm 5.6
PHP56_INI_PATH=./php56/php.ini
PHP56_LOGS_PATH=./php56/logs
PHP56_FPM_PORT=9001
#php ext
INSTALL_SWOOLE=true
INSTALL_PHPREDIS=true
INSTALL_IMAGEMAGICK=false
INSTALL_AMQP=false
INSTALL_TIDEWAYS_XHPROF=true
INSTALL_MONGO=true
# nginx env
NGINX_CONFD_DIR=./nginx/conf.d
NGINX_LOGS_PATH=./nginx/wwwlogs
NGINX_CONF_PATH=./nginx/nginx.conf
NGINX_HTTP_PORT=80
NGINX_HTTPS_PORT=443
NGINX_TAG=alpine
NGINX_SSL_PATH=./nginx/ssl

#gogs env
GOGS_DATA_PATH=./gogs
GOGS_PORT=10080

#RabbitMQ
RABBITMQ_HOST_PORT=5672
RABBITMQ_MANAGEMENT_HTTP_HOST_PORT=15672
RABBITMQ_MANAGEMENT_HTTPS_HOST_PORT=15671
RABBITMQ_DEFAULT_USER=username
RABBITMQ_DEFAULT_PASS=password
###elasticsearch####
ELASTICSEARCH_HEAD_PORT=9100
ELASTICSEARCH_HOST_HTTP_PORT=9200
ELASTICSEARCH_HOST_TRANSPORT_PORT=9300

###MongoDb###
MONGO_VERSION=latest
MONGO_HOST_PORT=27017
MONGO_DATA_DB_DIR=./mongo
